@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root {
    --cY: hsl(179, 62%, 43%);
    --bY: hsl(71, 73%, 54%);
    --lG: hsl(204, 43%, 93%);
    --gB: hsl(218, 22%, 67%);
    --oN: rgb(69, 230, 227);
}

* {
    box-sizing: border-box;

}

body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: var(--lG);
    font-family: 'Karla', sans-serif;
}

.container {
    margin: 74px auto;
    display: grid;
    width: 310px;
    height: 723px;
    border-radius: 10px;

    overflow: hidden;
    grid-template-areas:
        "content1"
        "content2"
        "content3"
    ;
    box-shadow: 0 5px 10px 10px rgba(0, 0, 0, 0.05);
}

h1 {
    font-size: 20px;
    font-weight: 700;

}

.content1 h2 {
    font-size: 15px;
    color: var(--bY);
    line-height: 1.25;
}

p {
    font-size: 13px;
}

#price {
    font-size: 30px;
    margin-right: 10px;
    font-weight: 700;

}

.priceTag {
    display: flex;
    align-items: center;
    font-weight: 400;

    margin-bottom: -10px;
}

#text {
    color: hsl(178, 54%, 58%);
}

.content1 {
    grid-area: content1;
    background-color: white;
    color: hsl(218, 22%, 67%);
    ;
    padding: 20px 25px 25px;
}

.content1 p {
    line-height: 2;
    margin-top: 15px;
}

.content2 {
    grid-area: content2;
    color: hsl(204, 43%, 93%);
    ;
    background-color: hsl(179, 62%, 43%);
    padding: 27px 25px 23px;
}

.content2 button {
    color: hsl(204, 43%, 93%);
    border-color: transparent;
    border-radius: 5px;
    background-color: var(--bY);
    width: 100%;
    height: 48.5px;
    box-shadow: 0 6px 5px 5px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}
.content2 h2,
    .content3 h2 {
        font-size: 20px;
    }
.text {
    margin-bottom: 20px;
}

.content3 {
    color: hsl(204, 43%, 93%);
    ;
    grid-area: content3;
    background-color: hsl(179, 47%, 52%);
    padding: 10px 23px;
}

.content3 ul {
    list-style: none;
    transform: translateX(-40px);
    line-height: 1.5;
    font-size: 13px;

}

/*atribute*/
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width : 768px) {
    .container {
        width: 636px;
        height: 475px;
        grid-template-areas:
            "content1 content1"
            "content2 content3"
        ;
    }

    .content1 {
        padding: 25px 40px;
    }

    .content2 {
        width: 318px;

        padding: 25px 25px 25px 37px;
    }

    .content2 h2,
    .content3 h2 {
        font-size: 16px;
    }

    .content3 {
        width: 318px;

        padding: 25px 25px 25px 37px;
    }

    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.17em;
    }

    p {
        font-size: 16px;
    }

    li {
        line-height: 1.45;

    }
}
